<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PortfolioOptimizer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GlobalConnection</display-name>
    <servlet-name>GlobalCOnnection</servlet-name>
    <servlet-class>fi.aps.GlobalConnection</servlet-class>
    <init-param>
      <param-name>driverClass</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>dbUrl</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1525:testorc</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>scott</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>qwerasdf</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>